.App {
  width: 80%;
  margin: auto;
}

.schoolCard {
  margin: 10px;
  padding: 5px;
}

.schoolCard CardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* NAVIGATION */

.navHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
}

.navHead .navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.navHead .navLinks a {
  margin: 0px 5px;
}

/* LANDING */

.jumboMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 550px;
  background-image: url('./img/lunch.jpg');
  background-size: cover;
}

.jumboMain .jumboButtons {
  height: 300px;
  width: 450px;
  background-color: rgb(0,0,0,.5);
  border-radius: 5px;
}

.landingContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 400px;
}

/* SCHOOL GRID */

.schoolGrid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}