@import url('https://fonts.googleapis.com/css?family=Schoolbell|Rubik');


body {
  background-color: #1A1409;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.App {
  background-color: white;
  width: 80%;
  margin: auto;
}

.schoolCard {
  margin: 10px;
  padding: 5px;
}

.schoolCard CardBody {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* NAVIGATION */

.navHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #AE4110;
}

.navHead h1 {
  font-family: 'Schoolbell', cursive;
  padding: 10px;
  color: white;
  text-shadow: 2px 2px #1A1409;
  font-size: 5em;
}

.navHead .navLinks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}

.navHead .navLinks a {
  background-color: #1A1409;
  font-family: 'Rubik', Arial, Helvetica, sans-serif;
  border-radius: 5px;
  color: white;
  padding: 5px 10px;
  font-size: 1.1em;
  margin: 0px 5px;
}

/* LANDING */

.jumboMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url('./img/dinner-dishes.jpg');
  background-size: cover;
  background-position: center;
}

.jumboMain .jumboButtons {
  height: 300px;
  width: 450px;
  background-color: rgb(0,0,0,.5);
  border-radius: 5px;
}

.landingContent {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(240, 240, 240);
  width: 100%;
  height: 400px;
  padding: 12.5%;
}

/* SCHOOL GRID */

.schoolGrid {
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: 50% 50%;
}

/* SCHOOL PAGE */

.schoolPageInfo {
  padding: 10px;
}

.schoolPageInfo h2 {
  font-size: 3em;
  font-weight: bold;
  font-family: 'Rubik', 'Roboto', Arial, Helvetica, sans-serif;
}

.schoolAbout {
  background-color: rgba(61, 75, 23, 0.5);
  padding: 10px;
  color: white;
}

.donateTtl {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Rubik', 'Roboto', Arial, Helvetica, sans-serif;
  padding: 50px 10px;
  font-size: 1.75em;
}

.donateHold {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.donateForm {
  display: flex;
  justify-content: center;
}

.adminTasks {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

/* ADMIN */

.jumboAdmin {
  background-image: url(./img/bg-image.jpg);
  background-size: cover;
  background-position: center;
  height: 700px;
}

.bottomContentAdmin {
  display: grid;
  grid-template-columns: 77.5% 22.5%;
}

/* DONATE */

.jumboDonate {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 700px;
  background-image: url('./img/lunch.jpg');
  background-size: cover;
  background-position: center;
}

/* ADDING */

.App .addSchoolDiv {
  padding: 10px;
}

/* LOGIN */

.loginForm {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.loginForm form {
  width: 33%;
}

.loginForm .formButton {
  width: 100%;
  color: white;
  background-color: #763C22;
  padding: 8px 5px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
}

.loginForm .formButton:hover {
  animation: formButtonFade 1s ease 0s 1 forwards both;
}

@keyframes formButtonFade {
  from {
    background-color: inherit;
  } to {
    background-color: rgb(94, 47, 26)
  }
}