// html.donate { height: unset; } // Fix the full splash height for page without splash

.donate { 
  .bg-gradient(@luncher-dark-olive;1;@luncher-beige;0.5);

  nav.nav-solid {
    background-color: @luncher-dark-olive;
    .box-shadow(2px; 2px; 8px; 0px; rgba(5,5,5,0.75));
    li {
      margin-right: 5px;
    }
  }

  .schools-by-state {
    padding: 56px 0 0 0;
    color: @luncher-saddle;
    .school-filter-bar {
      background-color: @luncher-dark-olive;
      padding: 20px 0;
      h1 {
        text-align: center;
      }
      p {
        text-align: center;
        font-size: 1.6rem;
      }
      // .row {  // Start filter row
      //   margin-top: 20px;
      //   .state-labels {
      //     font-size: 2rem;
      //     text-align: center;
      //     a {
      //       .btn(@clear-color; @white; @luncher-beige; @luncher-saddle; 33%; 0; 1.8rem; 3px 6px);
      //       .border-style(5px; @luncher-saddle);
      //       // .box-shadow(2px; 2px; 8px; 0px; rgba(0,0,0,0.75));
      //       .box-shadow(2px; 2px; 8px; 0px; rgba(5,5,5,0.75));
      //       // .box-shadow;
      //     }
      //   }
      // }
    }
  }

  .schools {
    .row {
      margin: 1.5rem 10% 10% 10%;
      .card {
        color: @luncher-dark-olive;
        background-color: @luncher-dark-khaki;
        border: 0;
        width: 100%;
        margin: 0 auto;
        .card-body {
          background-color: @luncher-beige;
          .card-text {
            font-size: 1.4rem;
            padding: 0 0 20px 0;
            margin-bottom: 20px;
          }
          .donation-need {
            padding: 0 0 5px 0;
            margin-top: -10px;
            font-weight: 700;
            font-size: 1.8rem;
          }
          .donate-now {
            position: absolute;
            right: 1.5rem;
            bottom: 1.5rem;
            font-size: 2.2rem;
            .btn(@white; @luncher-saddle; @white; @luncher-saddle; 33%; 0; 1.8rem; 3px 6px);
            .border-style;
          }
        }
        
      }
    }
    
  }

}


section a.divider {
  display: grid;
  width: 100%;
  margin-top: -3px;
  text-decoration: none;
  .leading-arrow {
    background-color: @dark;
    color: @luncher-beige;
    font-size: 5rem;
    margin: -27px auto;
    border-radius: 28px;
    border: 2px solid @dark;
    z-index: 5;
    &:hover {
      transform: scale(1.25);
      transition-duration: 0.5s;
    }
  }
}



.donate-footer {
  display: block;
  max-width: unset;
  width: 100%;

  .contact {
    background-color: @dark;
    color: @luncher-tan;
    padding: 40px 15% 25px 15%;
    @media @phone {
      padding: 40px 5% 25px;
    }
    .grid-col-4 {
      align-items: center;
      @media @phone { // Turn grid into a 3 column layout for <600px wide
        grid-template-columns: 10% 80% 10%;
      }
      h3 {
        grid-column: span 4;
        text-align: center;
        padding: 0 0 20px 0;
      }

      .icon, .social {
        font-size: 2.1rem;
        text-align: center;
        align-self: baseline;
      }
      .text, .social-text {
        font-size: 1.4rem;
        margin-left: 10px;
        align-self: auto;
      }
      .icon { grid-column: 1; }
      .text { grid-column: 2; }
      .social { grid-column: 3; }
      .social-text { 
        grid-column: 4; 
        @media @phone {
          display: none;
        }
        
      }
      a {
        color: @luncher-tan;
        text-align: center;
        align-self: baseline;
        &:hover {
          color: @white;
          transition-duration: 0.5s;
        }
      }
    }
  }
}   

